<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Ayobi Fitness</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,300,300i,400,400i,600,900i" rel="stylesheet" type='text/css'>

<!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/clean-blog.min.css') }}" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand" href="{{ url_for('home') }}">Ayobi Fitness</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('home') }}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('my_posts') }}">My Posts</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('account') }}">{{ current_user.username }}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('{{ url_for('static', filename='images/fitness2.jpg') }}')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>Add a Post</h1>
              <span class="subheading"> Update us on your fitness journey! </span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto" style="background-image: linear-gradient(225deg, #1F34A9 0%, #4A64D3 53%, #0CA35D 100%); border-radius: 25px; padding-top: 25px; padding-bottom: 25px; color:#fff">
            <h3 style="text-align: center; font-size: 20px; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; text-transform:uppercase;"> How to measure body fat percentage and resting heart rate </h3>
            <div style="text-align: center;">
              <a class="btn btn-online-success" href="https://www.active.com/fitness/calculators/bodyfat">Body Fat Percentage</a>
              <a class="btn btn-online-success" href="https://www.topendsports.com/testing/heart-rate-measure.htm">Resting Heart Rate</a>
            </div>
        </div>
      </div>
    </div><br>

    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto" style="background-image: linear-gradient(225deg, #1F34A9 0%, #4A64D3 53%, #0CA35D 100%); border-radius: 25px; padding-top: 25px; padding-bottom: 25px; color:#fff">
          <!-- Contact Form - Enter your email address on line 19 of the mail/contact_me.php file to make this form work. -->
          <!-- WARNING: Some web hosts do not allow emails to be sent through forms to common mail hosts like Gmail or Yahoo. It's recommended that you use a private domain email address! -->
          <!-- To use the contact form, your site must be on a live web host with PHP! The form will not work locally! -->
          <form name="addForm" id="addForm" method="POST" action="" enctype="multipart/form-data" novalidate>
            {{ form.hidden_tag() }}
            <legend>Fitness Progress Post</legend>
            <div class="form-group">
              {{ form.weight.label }}
              {% if form.weight.errors %}
                {{ form.weight(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.weight.errors %}
                    <span> {{ error }}</span>
                  {% endfor %}
              {% else %}
                {{ form.weight(class="form-control form-control-lg", style="color:#fff") }}
              {% endif %}
            </div>
            <div class="form-group">
              {{ form.bodyfat.label }}
              {% if form.bodyfat.errors %}
                {{ form.bodyfat(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.bodyfat.errors %}
                    <span> {{ error }}</span>
                  {% endfor %}
              {% else %}
                {{ form.bodyfat(class="form-control form-control-lg", style="color:#fff") }}
              {% endif %}
            </div>
            <div class="form-group">
              {{ form.rhr.label }}
              {% if form.rhr.errors %}
                {{ form.rhr(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.rhr.errors %}
                    <span> {{ error }}</span>
                  {% endfor %}
              {% else %}
                {{ form.rhr(class="form-control form-control-lg", style="color:#fff") }}
              {% endif %}
            </div>
            <div class="form-group">
              {{ form.prog_pic.label }}
              {% if form.prog_pic.errors %}
                {{ form.prog_pic(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.prog_pic.errors %}
                    <span> {{ error }}</span>
                  {% endfor %}
              {% else %}
                {{ form.prog_pic(class="form-control form-control-lg", style="color:#fff") }}
              {% endif %}
            </div>
            <div class="form-group">
              {{ form.workout.label }}
              {% if form.workout.errors %}
                {{ form.note(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.workout.errors %}
                    <span> {{ error }}</span>
                  {% endfor %}
              {% else %}
                {{ form.workout(class="form-control form-control-lg", style="color:#fff") }}
              {% endif %}
            </div>
            <div class="form-group">
              {{ form.note.label }}
              {% if form.note.errors %}
                {{ form.note(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.note.errors %}
                    <span> {{ error }}</span>
                  {% endfor %}
              {% else %}
                {{ form.note(class="form-control form-control-lg", style="color:#fff") }}
              {% endif %}
            </div>
            <div class="form-check">
              {{ form.public(class="form-check-input") }}
              {{ form.public.label(class="form-check-label") }}
            </div>
            <br>
            <div id="success"></div>
            <div class="form-group">
              {{ form.submit(class="btn btn-outline-success", style="border-radius: 25px") }}
            </div>
          </form>
        </div>
    </div>

    <hr>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <ul class="list-inline text-center">
              <li class="list-inline-item">
                <a href="https://www.instagram.com/ayobifitness/">
                  <span class="fa-stack fa-lg">
                    <img src="{{ url_for('static', filename='images/instagram.png')}}" width="40" height="40">
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://twitter.com/AyobiFitness">
                  <span class="fa-stack fa-lg">
                    <img src="{{ url_for('static', filename='images/twitter.png')}}" width="40" height="40">
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.facebook.com/ayobifitness/">
                  <span class="fa-stack fa-lg">
                    <img src="{{ url_for('static', filename='images/facebook.png')}}" width="40" height="40">
                  </span>
                </a>
              </li>
            </ul>
            <p class="copyright text-muted">Copyright &copy; Ayobi Fitness 2018</p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    <!-- Contact Form JavaScript -->
    <script src="{{ url_for('static', filename='js/jqBootstrapValidation.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/contact_me.min.js') }}"></script>

    <!-- Custom scripts for this template -->
    <script src="{{ url_for('static', filename='js/clean-blog.min.js') }}"></script>

  </body>

</html>
