<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Ayobi Fitness</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,300,300i,400,400i,600,900i" rel="stylesheet" type='text/css'>

<!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/clean-blog.min.css') }}" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand" href="{{ url_for('home') }}" style="color: #000;">Ayobi Fitness</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            {% if current_user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('home') }}" style="color:#000;">Home</a>
              </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('home') }}" style="color:#000;">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('register') }}" style="color:#000;">Register</a>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>


    <!-- Page Header -->
    <!--<header class="masthead" style="background-image: url('{{ url_for('static', filename='images/fitness3.jpg') }}')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>Login</h1>
              <span class="subheading"> Login here or create an account! </span>
            </div>
          </div>
        </div>
      </div>
    </header>-->
    <br><br><br><br>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto" style="background-image: linear-gradient(225deg, #1F34A9 0%, #4A64D3 53%, #0CA35D 100%); border-radius: 25px; padding-top: 25px; padding-bottom: 25px; color:#fff">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
          <!-- Contact Form - Enter your email address on line 19 of the mail/contact_me.php file to make this form work. -->
          <!-- WARNING: Some web hosts do not allow emails to be sent through forms to common mail hosts like Gmail or Yahoo. It's recommended that you use a private domain email address! -->
          <!-- To use the contact form, your site must be on a live web host with PHP! The form will not work locally! -->
          <form name="addForm" id="addForm" method="POST" action="" enctype="multipart/form-data" novalidate>
            {{ form.hidden_tag() }}
            <legend style="font-size: 32px;">Log In</legend>
            <div class="form-group">
              {{ form.email.label }}
              {% if form.email.errors %}
                {{ form.email(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.email.errors %}
                    <span> {{ error }}</span>
                  {% endfor %}
              {% else %}
                {{ form.email(class="form-control form-control-lg", style="color:#fff") }}
              {% endif %}
            </div>
            <div class="form-group">
              {{ form.password.label }}
              {% if form.password.errors %}
                {{ form.password(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.password.errors %}
                    <span> {{ error }}</span>
                  {% endfor %}
              {% else %}
                {{ form.password(class="form-control form-control-lg", style="color:#fff") }}
              {% endif %}
            </div>
            <div class="form-check">
              {{ form.remember(class="form-check-input") }}
              {{ form.remember.label(class="form-check-label") }}
            </div>
            <br>
            <div id="success"></div>
            <div class="form-group">
              {{ form.submit(class="btn btn-outline-success", style="border-radius: 25px") }}
            </div>
            <small class="text-muted ml-2">
              <a href="#" style="color: #fff">Forgot Password?</a>
            </small>
          </form>
        </div>
        <div class="border-top pt-3">
          <small class="text-muted">
            Don't have an account? <a class="ml-2" href="{{ url_for('register') }}">Sign Up Now</a>
          </small>
      </div>
    </div>

    <hr>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <ul class="list-inline text-center">
              <li class="list-inline-item">
                <a href="https://www.instagram.com/ayobifitness/">
                  <span class="fa-stack fa-lg">
                    <img src="{{ url_for('static', filename='images/instagram.png')}}" width="40" height="40">
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://twitter.com/AyobiFitness">
                  <span class="fa-stack fa-lg">
                    <img src="{{ url_for('static', filename='images/twitter.png')}}" width="40" height="40">
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.facebook.com/ayobifitness/">
                  <span class="fa-stack fa-lg">
                    <img src="{{ url_for('static', filename='images/facebook.png')}}" width="40" height="40">
                  </span>
                </a>
              </li>
            </ul>
            <p class="copyright text-muted">Copyright &copy; Ayobi Fitness 2018</p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    <!-- Contact Form JavaScript -->
    <script src="{{ url_for('static', filename='js/jqBootstrapValidation.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/contact_me.min.js') }}"></script>

    <!-- Custom scripts for this template -->
    <script src="{{ url_for('static', filename='js/clean-blog.min.js') }}"></script>

  </body>

</html>

