body {
  background-image: url("./unsplash.jpg");
  height: 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: fixed; }

html {
  background: url(./unsplash.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

h1 {
  font-family: "Avenir LT Std Book",sans-serif;
  color: #333;
  font-size: 34px;
  letter-spacing: 12px;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased; }

#box {
  position: absolute;
  right: 500px;
  top: 550px;
  width: 500px;
  height: 100px; }

#words {
  position: absolute;
  left: 50px;
  top: 250px;
  width: 800px;
  line-height: 20px; }

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #fff; }

